{% extends "caselink/index.html" %}
{% load staticfiles %}
{% block title %} Libvirt Auto-Manual Case Linkage {% endblock %}
{% block content %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class=""><h3 align='center'>Auto To Manual Linkage Table</h3> </div>
    <!-- Table -->
    <table id="sortable-table" class="table table-striped table-hover">
        <thead>
            <th>Case</th>
            <th>Polarion</th>
            <th>Title</th>
            <th>Documents</th>
            <th>Component</th>
            <th>Framework</th>
            <th>PR</th>
            <th>Errors</th>
        </thead>
        <tfoot>
            <th>Case</th>
            <th>Polarion</th>
            <th>Title</th>
            <th>Documents</th>
            <th>Component</th>
            <th>Framework</th>
            <th>PR</th>
            <th>Errors</th>
        </tfoot>
    </table>
</div>
<script src="{% static "caselink/js/a2m.js" %}" type="text/javascript" charset="utf-8"></script>
<a href='control?trigger=autocase_error_check' target='_blank'>Check Autocase errors.</a>
{% endblock %}
