{% extends "caselink/index.html" %}
{% block title %} Libvirt Manual-Auto Case Linkage {% endblock %}
{% block content %}

<div class="modal fade" tabindex="-1" role="dialog" id="linkage_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Linkage - </h4>
            </div>
            <div class="modal-body">
                <label for="linkage_manualcase">WorkItem</label>
                <select text="text" name="workitem" class="form-control" id="linkage_manualcase"> </select>
                <div id="linkage_list">
                    <div id="linkage_list_item" style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #ddd;">
                        <h5>Linkage Item</h5>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <label for="linkage_title">Title</label>
                        <input type="text" name="title" class="form-control" id="linkage_title" placeholder="Linkage Title" >

                        <label for="linkage_framework">Framework</label>
                        <select type="text" name="framework" class="form-control" id="linkage_framework"> <option value=""></option> </select>

                        <label for="linkage_pattern">Pattern</label>
                        <input type="text" name="autocase_pattern" class="form-control" id="linkage_pattern" placeholder="Pattern to match autotest cases. eg. 'virsh.domtime..set_time'" >

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Add new linkage</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class=""> <h3 align='center'>Manual to Auto Linkage Table</h3> </div>
    <!-- Table -->
    <table id="sortable-table" class="table table-striped table-hover">
        <thead>
            <th>Polarion</th>
            <th>Title</th>
            <th>Documents</th>
            <th>Automation</th>
            <th>Errors</th>
            <th>Cases</th>
            <th>Patterns</th>
            <th>Maitai ID</th>
        </thead>
        <tfoot>
            <th>Polarion</th>
            <th>Title</th>
            <th>Documents</th>
            <th>Automation</th>
            <th>Errors</th>
            <th>Cases</th>
            <th>Patterns</th>
            <th>Maitai ID</th>
        </tfoot>
    </table>
</div>

<div id="_proto_detail_panel" class="hidden">
    <table class="table table-hover table-condensed">
        <tbody>
            <tr>
                <td> Autotest Cases: </td>
                <td class="detail-autocase"></td>
            </tr>
            <tr>
                <td> Errors: </td>
                <td class="detail-error"></td>
            </tr>
            <tr>
                <td> Patterns: </td>
                <td class="detail-pattern"></td>
            </tr>
            <tr>
                <td> Maitai ID: </td>
                <td class="detail-maitai"></td>
            </tr>
        </tbody>
    </table>
</div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
        var child_detail = $('#_proto_detail_panel').removeClass('hidden').detach();
        var linkage_modal = $('#linkage_modal');
        var linkage_list_item = $('#linkage_list_item').detach();
        var table = $('#sortable-table').DataSearchTable({
            select: {
                style: 'single'
            },
            BaseTable: [DataTableWithChildRow, DataTableWithInlineButton,],
            buttons: [
                {
                    text: 'Edit Linkage',
                    action: function ( e, dt, node, config ) {
                        var filterSet = table.$('tr', {selected:true});
                        filterSet.each(function(){
                            var d = table.row(this).data();
                            var linkage_list = linkage_modal.find('#linkage_list').empty()
                            $.get("/caselink/manual/" + d.polarion + "/link/").done(function(data){
                                $.each(data, function(idx, ele){
                                    var new_item = linkage_list_item.clone();
                                    new_item.data("caselink_id", ele.id);
                                    new_item.find("#linkage_pattern").val(ele.autocase_pattern);
                                    new_item.find("#linkage_framework").val(ele.framework);
                                    new_item.find("#linkage_title").val(ele.title);
                                    linkage_list.append(new_item);
                                });
                            });
                            linkage_modal.find('#linkage_manualcase').val(d.polarion).prop('disabled', true);
                            linkage_modal.modal('show');
                        })
                    }
                },
                {
                    text: 'Create Automated Request',
                    action: function ( e, dt, node, config ) {
                        var filterSet = table.$('tr', {selected:true});
                        filterSet.each(function(){
                            var row = table.row(this)
                            var d = row.data();
                            var linkage_list = linkage_modal.find('#linkage_list').empty()
                            if(!d.need_automation){
                                $.get("/caselink/control/maitai_request/" + d.polarion).done(function(data){
                                    $.get("/caselink/manual/" + d.polarion + "/").done(function(data){
                                        table.row(row).data(data).draw(false);
                                    });
                                    alert("Maitai create, ID: " + data.id);
                                }).fail(function(jqXHR, textStauts){
                                    try{
                                        var data = JSON.stringify(jqXHR.responseText)
                                        if(data.message){
                                            alert('Ajax failure: ' + data.message);
                                        }
                                        else{
                                            alert('Ajax failure: ' + jqXHR.responseText);
                                        }
                                    }
                                    catch (e){
                                        alert('Unknown failure, detail: ' + jqXHR.responseText);
                                    }
                                });
                            }
                            else{
                                alert('Maitai pending.');
                            }
                        })
                    }
                },

            ],
            initComplete: function(){
                var wi_select = $('#linkage_manualcase');
                table.column(function(idx, data, node){
                    return $(node).text() == 'Polarion';
                }).data().each(function(d, j){
                    wi_select.append('<option value="' + d + '">' + d + '</option>');
                });

                var fr_select = linkage_list_item.find('#linkage_framework');
                $.get("/caselink/framework/").done(function(d){
                    d = d.results;
                    $.each(d, function(idx, d){
                        fr_select.append('<option value="' + d.name + '">' + d.name + '</option>');
                    });
                });
            },
            "ajax": "data",
            "iDisplayLength": 20,
            "bAutoWidth": false,
            "selectorColumns": [
                {
                    column: 'Documents',
                    render: prettier,
                },
                {
                    column: 'Automation',
                    render: prettier,
                    strict: true,
                },
                {
                    column: 'Errors',
                    render: prettier,
                },
            ],
            "columns": [
                {
                    "data": "polarion",
                    "render": function( data ) {
                        return '<a href="https://polarion.engineering.redhat.com/polarion/#/project/RedHatEnterpriseLinux7/workitem?id='+data+'">'+data+'</a>';
                    }
                },
                { "data": "title" },
                {
                    "data": "documents",
                    "render": function( data ) {
                        return prettier(data.join('<br>'));
                    }
                },
                { "data": "automation" },
                {
                    "data": "errors",
                    "render": function( data ) {
                        return prettier(data.join('<br>'));
                    }
                },
                {
                    "data": "cases",
                    "visible": false,
                    "render": prettier,
                },
                {
                    "data": "patterns",
                    "visible": false,
                    "render": prettier,
                },
                {
                    "data": "maitai_id",
                    "render": prettier,
                },
                {
                    "data": "need_automation",
                    "visible": false,
                    "render": prettier,
                },

            ],
            "createdRow": function(row, data, index){
                if(data.errors.length > 0){
                    $('td', row).eq(0).addClass('errors');
                }
            },

            // Add event listener for opening and closing details
            childContent: function(row, child, slideDown, slideUp){
                var head = child_detail.clone()
                var d = row.data();

                if(d.cases.length > 0){
                    head.find(".detail-autocase").html(d.cases.join("<br>"))
                }
                else{
                    head.find(".detail-autocase").closest("tr").remove()
                }

                if(d.errors.length > 0){
                    head.find(".detail-error").html(d.errors.join("<br>"))
                }
                else{
                    head.find(".detail-error").closest("tr").remove()
                }

                if(d.patterns.length > 0){
                    head.find(".detail-pattern").html(d.patterns.join("<br>"))
                }
                else{
                    head.find(".detail-pattern").closest("tr").remove()
                }

                if(d.maitai_id){
                    head.find(".detail-maitai").html(d.maitai_id)
                }
                else{
                    head.find(".detail-maitai").closest("tr").remove()
                }

                if (d.patterns.length + d.errors.length + d.cases.length === 0 && !d.maitai_id) {
                    head.empty().append('<div class="alert alert-info" role="alert">Nothing to show.</div>');
                    setTimeout(slideUp, 800);
                }

                child.append(head.html());
                slideDown();
            },
        });
    });
</script>
<a href='control?trigger=manualcase_error_check&trigger=linkage_error_check' target='_blank'>Check Manual case and Linkage errors.</a>
{% endblock %}
