{% extends "caselink/index.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %} Libvirt Manual-Auto Case Linkage {% endblock %}
{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="linkage_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Linkage - </h4>
            </div>
            <div class="modal-body">
                <label for="linkage_manualcase">WorkItem</label>
                <select text="text" name="workitem" class="form-control" id="linkage_manualcase"> </select>
                <div id="linkage_list">
                    <div class="linkage-list-item" style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #ddd;">
                        <h5>Linkage Item</h5>
                        <button type="button" class="close" aria-label="Close" id="linkage_delete"><span aria-hidden="true">&times;</span></button>

                        <label for="linkage_title">Title</label>
                        <input type="text" name="title" class="form-control" id="linkage_title" placeholder="Linkage Title" >

                        <label for="linkage_framework">Framework</label>
                        <select type="text" name="framework" class="form-control" id="linkage_framework"> <option value=""></option> </select>

                        <label for="linkage_pattern">Pattern</label>
                        <input type="text" name="autocase_pattern" class="form-control" id="linkage_pattern" placeholder="Pattern to match autotest cases. eg. 'virsh.domtime..set_time'" >

                        <label for="linkage_pattern">Linked Autocases</label>
                        <div class="well" id="linkage_autocases" placeholder="Pattern to match autotest cases. eg. 'virsh.domtime..set_time'" >
                            Empty
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="linkage_add_new">Add new linkage</button>
                <button type="button" class="btn btn-primary" id="linkage_save">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="maitai_automation_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Maitai Automation Request</h4>
            </div>
            <div class="modal-body">
                <form id="maitai_automation" method="get" accept-charset="utf-8">
                    {% csrf_token %}
                    {{ maitai_automation_form|bootstrap }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="maitai_automation_submit">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class=""> <h3 align='center'>Manual to Auto Linkage Table</h3> </div>
    <!-- Table -->
    <table id="sortable-table" class="table table-striped table-hover">
        <thead>
            <th>Polarion</th>
            <th>Title</th>
            <th>Documents</th>
            <th>Automation</th>
            <th>Errors</th>
            <th>Cases</th>
            <th>Patterns</th>
            <th>Maitai ID</th>
        </thead>
        <tfoot>
            <th>Polarion</th>
            <th>Title</th>
            <th>Documents</th>
            <th>Automation</th>
            <th>Errors</th>
            <th>Cases</th>
            <th>Patterns</th>
            <th>Maitai ID</th>
        </tfoot>
    </table>
</div>

<div id="_proto_detail_panel" class="hidden">
    <table class="table table-hover table-condensed">
        <tbody>
            <tr>
                <td> Autotest Cases: </td>
                <td class="detail-autocase"></td>
            </tr>
            <tr>
                <td> Errors: </td>
                <td class="detail-error"></td>
            </tr>
            <tr>
                <td> Patterns: </td>
                <td class="detail-pattern"></td>
            </tr>
            <tr>
                <td> Maitai ID: </td>
                <td class="detail-maitai"></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="{% static "caselink/js/m2a.js" %}" type="text/javascript" charset="utf-8"></script>
<a href='control?trigger=manualcase_error_check&trigger=linkage_error_check' target='_blank'>Check Manual case and Linkage errors.</a>
{% endblock %}
