/*
 * Table styles
 */
table.dataTable {
  font-size: 90%;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}

.dataTables_length,
.dataTables_filter,
.dataTables_paginate,
.dataTables_info,
.dt-buttons,
.btn-group
{
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px
}

tr.error {
    background-color: lavenderblush;
}
